{% extends "main.html" %}



{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="easyzoom easyzoom--overlay">
                <a href="{{ product.image_url }}">
                    <img src="{{ product.image_url }}" class="img-fluid rounded" style="border: 1px solid #ddd;" alt="{{ product.name }}">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h2 style="font-family: 'Roboto', sans-serif; font-weight: bold;">{{ product.product_name }}</h2>
            <p style="font-family: 'Roboto', sans-serif; font-weight: bold; margin-top: 20px;">{{ product.description }}</p>
            <h4 style="font-family: 'Roboto', sans-serif; font-weight: bold;">${{ product.price }}</h4>
            <div class="mt-4">
                <button id="{{ product.id }}" class="btn btn-primary cart">
                    <i class="fas fa-cart-plus"></i> Add to Cart
                </button>
                <a href="/user/order/create/{{product.id}}" class="btn btn-success">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.cart').forEach(button => {
        button.addEventListener('click', event => {
           event.preventDefault()
            const productId = event.target.id;
         
            fetch(`/user/cart/add/${productId}`, { method: 'POST' })
                .then(response => response.json())
                .then((data) =>{
                  if(data.status==200){
                    button.textContent="ADDED TO CART"
                  }
                  else {
                      alert("ITEM ALREADY ADDED TO CART")
                  }
                });
              
        });
    });
</script>
{% endblock %}